

<div class = "row">
	<h1 class = "disastertitle">
		CURRENT/RECENT DISASTERS AND CONFLICTS
	</h1>
</div>

<div class = "row feedzilla">
<!-- Feedzilla Widget BEGIN -->
	<div class = "large-8 columns">
		<p>DisasterWatch is a site for anyone who wants to stay informed about the world on their own terms. 24 hour news stations inundate us with the same five stories on rotation for days. It's easy to focus our attention on just those problems and forget the other natural disasters and conflicts going on throughout the world.</p><br>
		<p>Below is a map that shows where recent natural disasters have occurred and countries that have conflicts going on in them today.</p><br>
		<p>Click on a colored country to see information about the recent natural disaster or ongoing armed conflict going on.</p>
	</div>
	<div class = "hide-for-small-only large-4 columns">
		<div class="feedzilla-news-widget feedzilla-28108022827655077" style="width:250px; padding-left: 30px; text-align: center; font-size: 11px; border: 0;">
			<script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
			<script type="text/javascript">
				new FEEDZILLA.Widget({
					style: 'slide-top-to-bottom',
					culture_code: 'en_us',
					title: 'World News',
					caption: 'All',
					order: 'relevance',
					count: '20',
					w: '250',
					h: '300',
					timestamp: 'true',
					scrollbar: 'false',
					theme: 'dark-hive',
					className: 'feedzilla-28108022827655077',
					tabs: [{name: 'World News', c: '19', sc: '-'}]
				});
			</script><br />
		</div>
		<!-- Feedzilla Widget END -->
	</div>
</div>

<div class = "row fullWidth">
	
	<div class = "large-6 columns">
		<div class = "mapcontainer">
				
			<div id="map">
			</div>

		</div>
	</div>

	<div class = "large-6 columns">
		<div id = "mapdata">
			<h3>Hover over country to see country data.</h3>
		</div>
	</div>
</div>


<div id="myModal" class="reveal-modal" data-reveal>
  	<div id = "disasters">
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>












