

<div class = "row disastertitle">
	<h2>
		CURRENT/RECENT DISASTERS AND CONFLICTS
	</h2>
	<p>Below is a map that shows where recent natural disasters have occurred and countries that have conflicts going on in them today.</p>
	<p>Click on a colored country to see information about the recent natural disaster or ongoing armed conflict going on.</p>
</div>

<div class = "row fullWidth">
	
	<div class = "large-6 columns">
		<div class = "mapcontainer">
				
			<div id="map">
			</div>

		</div>
	</div>

	<div class = "large-6 columns">
		<div id = "mapdata">
			<h3>Hover over country to see country data.</h3>
		</div>
	</div>
</div>


<div id="myModal" class="reveal-modal" data-reveal>
  	<div id = "disasters">
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>












