

<div>
	World news site: Stay informed. Follow news from specific countries or disasters.

	Connect with organizations that are trying to help.
</div>

<div>
	<h3>Style this page by different categories of news stories</h3>
</div>

<div>
	Picture of disasters map -- link to map
</div>

<div class = "row">
	<div class = "small-1 columns">
	</div>
	<div class = "small-9 columns">
		<h1>WORLD NEWS</h1>
	</div>
	<div class = "small-2 columns">
	</div>
</div>

<div class = "row">
	<div class = "small-1 columns">
	</div>
	<div class = "small-9 columns">
	<% @updates["articles"].each do |u| %>
			<h3><%= u["title"] %></h3> <br>
			<h4 class = "subheader"><%= u["publish_date"] %></h4><br>
			<p><%= u["summary"] %><p><br>
			<a href= "#"><%= link_to nil, u["url"] %><br></a>
		<% end %>
	</div>
	<div class = "small-2 columns">
		<!-- Feedzilla Widget BEGIN -->
		<div class="feedzilla-news-widget feedzilla-28108022827655077" style="width:250px; padding-left: 30px; text-align: center; font-size: 11px; border: 0;">
			<script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
			<script type="text/javascript">
				new FEEDZILLA.Widget({
					style: 'slide-top-to-bottom',
					culture_code: 'en_us',
					title: 'World News',
					caption: 'All',
					order: 'relevance',
					count: '20',
					w: '250',
					h: '300',
					timestamp: 'true',
					scrollbar: 'false',
					theme: 'dark-hive',
					className: 'feedzilla-28108022827655077',
					tabs: [{name: 'World News', c: '19', sc: '-'}]
				});
			</script><br />
			<a href="http://widgets.feedzilla.com/news/builder/index.html?utm_source=feedzilla&utm_medium=widget&utm_campaign=widget%2Blink" target="_blank">Get Your News Widget</a>
		</div>
		<!-- Feedzilla Widget END -->
	</div>
</div>

