
<div class = "main">
<!--================= HEADER ===================-->
<div class = "row">
	<div class = "small-1 columns">
	</div>
	<div class = "small-9 columns">
		<h1 class = "maintitle">DisasterWatch</h1>
		<h3 class = "maintitle">Stay informed.</h3>
	</div>
	<div class = "small-2 columns">
	</div>
</div>
<!--================= END HEADER ===================-->

<!--================= JSSOR SLIDER ===================-->
<div class = "row" id = "slider">
	<div class = "small-12 medium-12 large-centered columns">
		<div id="slider1_container">
    		<!-- Slides Container -->
    		<div u="slides" style="cursor: move; overflow: hidden; left: 0px; top: 0px; width: 1000px; height: 500px;">
        	<div><img u="image" src="assets/hands.jpg" /></div>
        	<div><img u="image" src="assets/world_map_med.png" /></div>
        	<div><img u="image" src="assets/humanitarian.jpeg" /></div>
    	</div>
	</div>
</div>
<!--================ END JSSOR SLIDER =================-->

<!--=============== PARALLAX =====================-->

<!-- <div class="backgr hide-for-small-only">
</div> -->

<div class = "panel description">
	<p>DisasterWatch is a site for anyone who wants to stay informed about the world on their own terms. 24 hour news stations inundate us with the same five stories on rotation for days. It's easy to focus our attention on just those problems and forget the other natural disasters and conflicts going on throughout the world.</p><br>
</div>












