<div class = "row">
	<h1>BIG NEWS STORY</h1>
</div>

<!-- Feedzilla Widget BEGIN -->

<div class = "row">

	<div class= "column-10 small">
	</div>

	<div class="column-2 small">
		<div class="feedzilla-news-widget feedzilla-28108022827655077" style="width:250px; padding-left: 30px; text-align: center; font-size: 11px; border: 0;">
			<script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
			<script type="text/javascript">
				new FEEDZILLA.Widget({
					style: 'slide-top-to-bottom',
					culture_code: 'en_us',
					title: 'World News',
					caption: 'All',
					order: 'relevance',
					count: '20',
					w: '250',
					h: '300',
					timestamp: 'true',
					scrollbar: 'false',
					theme: 'dark-hive',
					className: 'feedzilla-28108022827655077',
					tabs: [{name: 'World News', c: '19', sc: '-'}]
				});
			</script><br />
			<a href="http://widgets.feedzilla.com/news/builder/index.html?utm_source=feedzilla&utm_medium=widget&utm_campaign=widget%2Blink" target="_blank">Get Your News Widget</a>
		</div>
		<!-- Feedzilla Widget END -->
	</div>
</div>




<div>
	World news site: Stay informed. Follow news from specific countries or disasters.

	Connect with organizations that are trying to help.
<div>

Some other cool stuff over here
</div>

<div>
	Style me like your french girls.
</div>

<div>
	Sign up to follow news stories
</div>

<div>
	Check out this map: link to map
</div>