

<div>
	
	World news site: Stay informed. Follow news from specific countries or disasters.

	Connect with organizations that are trying to help.
</div>

<div>
	<h3>Style this page by different categories of news stories</h3>
</div>

<div>
	Picture of disasters map -- link to map
</div>

<div class = "row">
	<div class = "small-1 columns">
	</div>
	<div class = "small-9 columns">
		<h1>WORLD NEWS</h1>
	</div>
	<div class = "small-2 columns">
	</div>
</div>

<div class = "row">
	<div class = "small-1 columns">
	</div>
	<div class = "small-9 columns">
		<img src="assets/world_map_med.png">
	</div>
	<div class = "small-2 columns">
		<!-- Feedzilla Widget BEGIN -->
		<div class="feedzilla-news-widget feedzilla-28108022827655077" style="width:250px; padding-left: 30px; text-align: center; font-size: 11px; border: 0;">
			<script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
			<script type="text/javascript">
				new FEEDZILLA.Widget({
					style: 'slide-top-to-bottom',
					culture_code: 'en_us',
					title: 'World News',
					caption: 'All',
					order: 'relevance',
					count: '20',
					w: '250',
					h: '300',
					timestamp: 'true',
					scrollbar: 'false',
					theme: 'dark-hive',
					className: 'feedzilla-28108022827655077',
					tabs: [{name: 'World News', c: '19', sc: '-'}]
				});
			</script><br />
			<a href="http://widgets.feedzilla.com/news/builder/index.html?utm_source=feedzilla&utm_medium=widget&utm_campaign=widget%2Blink" target="_blank">Get Your News Widget</a>
		</div>
		<!-- Feedzilla Widget END -->
	</div>
</div>

<div class = "row">
	<div class = "large-6 columns">
		<ul class="large-block-grid-3">
			<li><img src="assets/africa_icon.jpg"> <%= link_to "Africa News", africanews_path %></li>
			<li><img src="assets/asia_icon.jpg"></li>
			<li><img src="assets/europe_icon.jpg"></li>
			<li><img src="assets/middle_east_icon.jpg"></li>
			<li><img src="assets/north_america_icon.jpg"></li>
			<li><img src="assets/central_america_icon.jpg"></li>
			<li><img src="assets/south_america_icon.jpg"></li>
			<li><img src="assets/oceania_icon.jpg"></li>
		</ul>
	</div>
	<div class = "large-6 columns">
	</div>
</div>





