<h1>My Newsfeed </h1>

<div class = "row">

	<% @myupdates.each do |mu| %>
		<% mu.each do |m| %>
			<% if m != nil %>
				<div class = "headline">
					<% m["articles"].each do |article| %> 
						<h3><%= article["title"] %></h3>
						<h4 class = "subheader"><%= article["publish_date"] %></h4>
						<p><%= article["summary"] %><p>
						<a href= "#"><%= link_to nil, article["url"] %></a><br>
					<% end %>
				</div>
			<% end %>
		<% end %>

	<% end %>
</div>













