<div class = "countrytitle">
	<h1> Choose Up To 10 Countries To Follow </h1>

	<button type="button" class="updateButton" onclick="returnCountryArray()">Select Country Updates</button> 
</div>

<div id = "countryButton">
	<div id = "countryName"></div>
</div>

<div class = "mapcontainer">
		
	<div id="selectmap">
	</div>

</div>

<div id = "countryalert"></div>
<div id = "mapselectdata"></div>





