<h1> Choose your countries </h1>

<div class = "mapcontainer">
		
	<div id="selectmap">
	</div>

</div>

<div id = "mapselectdata"></div>

<div id = "countryButton">
	<button type="button" class="updateButton" onclick="returnCountryArray()">Select Country Updates</button>
</div>




