
<div class = "row">
	<div class = "countrytitle">
		<h1> CHOOSE COUNTRIES TO FOLLOW </h1>
		<p>Choose which countries you want to see appear in your newsfeed by selecting below.</p>

		<button type="button" class="updateButton" onclick="returnCountryArray()">Select Country Updates</button> 
	</div>
</div>


<div class = "row fullWidth countries">

	<div class = "large-6 column small-6 column">
		<div class = "mapcontainer">			
			<div id="selectmap">
			</div>
		</div>
	</div>

	<div class = "large-6 column small-6 column"> 
		<div id = "countryName"></div>
		<div id = "countryalert"></div>
		<br><br>
		<div id = "mapselectdata"></div>
	</div>

</div>







