// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.countrytitle {
  padding-top: 30px;
  padding-bottom: 10px;
  h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
  }
  text-align: center;
	button {
		z-index: 10;
	}
}

#countryButton {
	height: 60px;
}

#mapselectdata {
	font-family: 'Ubuntu', sans-serif;
}

.mapcontainer {
	margin-left: 30px;
}

