// Place all the styles related to the disasters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	width: 95%;
	height: 1000px;
}

#mapdata {
	position: relative;
	float: right;
	height: 300px;
	width: 200px;
	border: 2px solid black;
}