// Place all the styles related to the disasters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.disastertitle {
  margin-left: 140px;
  padding-top: 30px;
  font-family: 'Times New';
}

h2 {
  font-family: 'Libre Baskerville', serif;
}

.datastring {
  font-family: 'Vollkorn', serif;
}

.mapcontainer {
/*	background-color: #5E798C;*/
  position: absolute;
  top: 130px;
  left: 40px;
}

#mapdata {
  position: relative;
  top: 20px;
  left: 880px;
  height: 500px;
  width: 530px;
  padding: 5px;
  text-align: left;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

#disasters {
  position: relative;
  top:400px;
  left: 100px;
  height: 400px;
  width: 750px;
  border: solid #ccc 2px;
}


#articles {
  position: relative;
  top: 700px;
}



.water {
  fill: #00248F;
}

.focused {
  fill: #33CC33;
}

#selector {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
