// Place all the styles related to the updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.regional {
	margin-left: 10%;
}

.countrylist {
  background-color: tan;
  text-align: center;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 6px 6px 3px #888888;
  margin-bottom: 10px;
  padding: 10px 10px 2px 10px;
}

.personalheadline {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 6px 6px 3px #888888;

  background: linear-gradient(
     tan, tan 50%, #333 50%, #333
  );
    background-size: 100% 200%;
    transition: all 0.2s ease;
}

.personalheadline:hover {
  background-position: 100% 100%;
}

.personalheadline:hover h3 {
  color: steelblue;
}
.personalheadline:hover h4 {
  color: white;
}
.personalheadline:hover p {
  color: #999;
}

.headlinetitle {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.worldheadline {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  background: linear-gradient(
     white, white 50%, #333 50%, #333
  );
  background-size: 100% 200%;
  transition: all 0.2s ease;
}

.worldheadline:hover {
  background-position: 100% 100%;
}
.worldheadline:hover h3 {
  color: #48ad26;
}
.worldheadline:hover h4 {
  color: white;
}
.worldheadline:hover p {
  color: #999;
}